<div class="card">
        <div class="card-header">
          Resources 
        </div>
        <div class="card-body">
          <h6 class="card-title">Private Portal</h6>
          <p class="card-text">This is just a sample text describing the benefits of this service
                Self Service Portals Increase Positive Customer
                Recommendations. A successful self-service portal strengthens
                the brand reputation by creating positive client interactions.</p>
        </div>
        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
</div>