@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div id="accordion">
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse1">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse1">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Chapter and Member Engagement
                    </strong>
                </div>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    Chapter Programs<br />
                    Katie Kuhn, Manager<br />
                    <a href="mailto:kkuhn@acr.org">kkuhn@acr.org</a><br />
                    1-800- 227-5463, ext. 5785<br />
                    <br />
                    Kristin Barnard, Chapter & Member Engagement Specialist<br />
                    <a href="mailto:kbarnard@acr.org">kbarnard@acr.org</a><br />
                    1-800-227-5463, ext. 4907<br />
                    <br />
                    Volunteer Services, Commissions and Committees<br />
                    Amy Shipp, Manager<br />
                    <a href="mailto:ashipp@acr.org">ashipp@acr.org</a><br />
                    1-800-227-5463, ext. 4917<br />
                    <br />
                    Resident and Fellow Section<br />
                    Catherine Herse, Project Specialist<br />
                    <a href="mailto:cherse@acr.org">cherse@acr.org</a><br />
                    1-800-227-5463, ext. 4956<br />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse2">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse2">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Council Services
                    </strong>
                </div>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    Council Steering Committee, Annual Council Meeting, Digest of Council Actions, Resolutions<br />
                    Trina Behbahani, Director<br />
                    <a href="mailto:tbehbahani@acr.org">tbehbahani@acr.org</a><br />
                    1-800-227-5463, ext. 4998<br />
                    <br />
                    Catherine Herse, Project Specialist<br />
                    <a href="mailto:cherse@acr.org">cherse@acr.org</a><br />
                    1-800-227-5463, ext. 4956<br />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse3">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse3">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Government Relations and Economics and Health Policy
                    </strong>
                </div>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    Federal Government Relations<br />
                    Joshua Cooper, Senior Director<br />
                    <a href="mailto:jcooper@acr.org">jcooper@acr.org</a><br />
                    1-800-227-5463, ext. 4308<br />
                    <br />
                    Economics and Health Policy<br />
                    Angela Kim, Senior Director<br />
                    <a href="mailto:akim@acr.org">akim@acr.org</a><br />
                    1-800-227-5463, ext. 4556<br />
                    <br />
                    State Government Relations<br />
                    Eugenia Brandt-Krimer, Director of State Affairs<br />
                    <a href="mailto:eKrimer@acr.org">eKrimer@acr.org</a><br />
                    1-800-227-5463, ext. 4398<br />
                    <br />
                    RADPAC®<br />
                    Ted Burnes, Director, RADPAC & Political Education<br />
                    <a href="mailto:tburnes@acr.org">tburnes@acr.org</a><br />
                    1-800-227-5463, ext. 4949<br />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse4">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse4">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Legal
                    </strong>
                </div>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    Legal Services<br />
                    1-800-227-5463, ext. 4044<br />
                    <a href="mailto:legal@acr.org">legal@acr.org</a>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse5">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse5">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Marketing, Communications and Public Relations
                    </strong>
                </div>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    ACR website<br />
                    Noelle Neu, Web Content Manager<br />
                    <a href="mailto:nneu@acr.org">nneu@acr.org</a><br />
                    1-800-227-5463, ext. 5875<br />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse6">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse6">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Membership
                    </strong>
                </div>
            </div>
            <div id="collapse6" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    ACR Membership, ACR Fellowship, General Inquiries<br />
                    Monique Talbot, Director<br />
                    <a href="mailto:mtalbot@acr.org">mtalbot@acr.org</a><br />
                    1-800-227-5463, ext. 4954<br />
                    <br />
                    ACR Fellowship Applications and Convocation<br />
                    Julie Huxsoll<br />
                    <a href="mailto:jhuxsol@acr.org">jhuxsol@acr.org</a><br />
                    1-800-227-5463, ext. 4682<br />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse7">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse7">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Commission on Membership and Communications
                    </strong>
                </div>
            </div>
            <div id="collapse7" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    William T. Herrington, MD, FACR, Chair<br />
                    <a href="mailto:herrad54@gmail.com">herrad54@gmail.com</a><br />
                    <br />
                    Brad Short, ACR Senior Director of Governance and Member Services<br />
                    <a href="mailto:bshort@acr.org">bshort@acr.org</a><br />
                    1-800-227-5463, ext. 4975<br />

                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header" data-toggle="collapse" style="font-family:Proxima-Nova; color: #000000; text-align:left;" href="#collapse8">
                <div aria-expanded="true" data-toggle="collapse" class="collapsed card-link" href="#collapse8">
                    <i aria-expanded="true" class="fa"></i><strong>
                        Committee on Chapters
                    </strong>
                </div>
            </div>
            <div id="collapse8" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #eaddc9; text-align:left;">
                    David T. Boyd, MD, MBA, Chair<br />
                    <a href="mailto:boydd323@aol.com">boydd323@aol.com</a><br />
                    <br />
                    Katie Kuhn, Manager, Chapter & Member Engagement<br />
                    <a href="mailto:kkuhn@acr.org">kkuhn@acr.org</a><br />
                    1-800-227-5463, ext. 5785
                </div>
            </div>
        </div>
    </div>
</div>
